language: java

before_install:
  - mkdir $FLEX_HOME
  - cd $FLEX_HOME && \
      wget http://download.macromedia.com/pub/flex/sdk/flex_sdk_4.6.zip && \
      unzip flex_sdk_4.6.zip
  - cd $FLEX_HOME && \
      wget http://airdownload.adobe.com/air/mac/download/latest/AdobeAIRSDK.tbz2 && \
      tar xjf AdobeAIRSDK.tbz2
  - mkdir $AIR_HOME
  - cd $AIR_HOME && \
      wget http://airdownload.adobe.com/air/mac/download/latest/AIRSDK_Compiler.tbz2 && \
      tar xjf AIRSDK_Compiler.tbz2

install:
  - cd $TRAVIS_BUILD_DIR/runtime && ant maven-deploy
  - cd $TRAVIS_BUILD_DIR/exporter && ant package
  - cd $TRAVIS_BUILD_DIR/demo && ant

script:
  - true # No tests, just pass

after_success:
  - wget "https://raw.github.com/andreafabrizi/Dropbox-Uploader/master/dropbox_uploader.sh"
  - chmod +x dropbox_uploader.sh
  - ./dropbox_uploader.sh -f /dev/null upload exporter/dist $TRAVIS_COMMIT

env:
  global:
  - "AIR_HOME=$HOME/air"
  - "FLEX_HOME=$HOME/flex"
  - secure: LrFhwUYgTDD16XIRyrX11JTvUm6+gADdLuZK4nuRhu9MxBblfGM3VIUyrvk7nnEYngvQRsLsnkKZ7cRFllP+M/BBIFStBJOr6feqI5XmbXrE5J/4mQWLt63oNRq0d3h4DAYZp05v3pU1QZm41jHU0m9W9h4g9DHXcVzjVY18Huw=
  - secure: AOMVFSnzicnAum9tfMQGOUNO6hDCb/NLc1offOgmDzpKcf+iiZSzsKnseuMQ9Iok+HwgLUuSgwe5U+BAlUhQmYOXiUA9qUv65LjPw6N24IsmWLKIWnFPRmRblZgrzggs8rJDdvDGjMaLeTQUGlpV5tCpNRM6xToWNttG/MOsOpI=
  - secure: RxoCVQi0Wd3bZHKnjo/vEMcXv6RAxgufVMHtix5by0Q28jNE0YftI90aId9rDt/kKbLnphXaCHbTyYBL3brW2TK6ldwa6DAEOzWSZ2FaN4fLaxv9z79T/LcW5PBoSB2bFjIDwdpslLNK6/6GVmaaXILHYj8q1WpUg6zVrxh/wCk=
  - secure: WNUfA2MorT6k29JwiWpT/uEcvr1h19Q1aFMxjoQed+biBbDIiB3ipNIn5IOlNoPD/VOV1xJDiR/14Vfc3pltzhq21YIOjPqcz7qndQ2Sl7fVY8y8CXOE3xYon4JZfp9zBw6p2yw/ER5osVx61HDMnkFTpiC5Osw2cbSaPeFd6Ms=
  - secure: Qd6ULR2Gmvyuuo/k71jNVVLdv3FRJYrkX982VDx2dn6c2n6oachIEPSm1RcuKd2tBGjflg7waDFiW1ARBm7mwH7zHL66dLVan7QSf9hg8fqwMJPl/tnfi3C0mYiVZXjKSstY7j1of+RxHFk/+ZIGDuNYiKA5sQBl+z+1SwPUugk=
